
.sub-item-link{
  text-decoration: none;
}
.sub-item-link:link {
  color: blue;
}
.sub-item-link:visited {
  color: purple;
}
.sub-item-link:hover {
  color: orange;
}
.sub-item-link:active {
  color: red;
}
.sub-item-link:focus {
  outline: 2px solid green;
}
